*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'vazirmatn', sans-serif;
    font-size: 16px;
    direction: rtl;
    overflow-x: hidden;
}

/* اضافه کردن فونت وزیر متن */
@font-face {
    font-family: 'vazirmatn';
    src: url('./fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2'),
    url('./fonts/ttf/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'vazirmatn';
    src: url('./fonts/ttf/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* هدر سایت */
.site-header {
    position: relative;
    max-width: 1440px;
    width: 100%;
    padding: 24px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.site-header--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header--logo img {
    width: 150px;
    height: auto;
}

/* سرچ باکس */
.site-header--search {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 638px;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 19px;
    border:1px solid rgba(203, 203, 203, 1);
    gap: 12px;
    padding: 8px 16px;
}
.search-box--input {
    outline: none;
    flex: 1;
    border: none;
    font-size: 14px;
    font-family: 'vazirmatn';
}
.site-header--cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
/* منوی کاربری*/
.user-menu {
    display: flex;
    padding:11px;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.05);
}
.user-menu--toggle {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6px;
    cursor: pointer;
    margin-right: 42px;

}

/* سبد خرید*/
.cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: rgba(250, 84, 28, 1);
}
.cart--icon-default {
    width: 24px;
    height: 24px;
}
.cart--count {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    top:-4px;
    left:-4px;
    border-radius: 50%;
    background-color: rgba(3, 35, 64, 1);
    font-feature-settings: "ss01";
    color: #FFF;
}

/* منوی ناوبری*/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 40px;
    border:1px solid rgba(249, 249, 249, 1);
    border-radius: 16px;
    background-color:rgba(249, 249, 249, 1) ;
}
.main-nav--list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
}
.main-nav--item a {
    text-decoration: none;
    color: #000;
}
/* لینک فروشگاه */
.main-nav--featured {
    display: flex;
    max-width: 480px;
    gap: 32px;
}
.main-nav--featured img {
    width:18px;
    height: 18px;
}
.featured-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    color: #000;
}
/* بخش میانی سایت */
.site-main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    top: 20px;
    padding: 24px 40px;
}
.main-content{
    display: grid;
    grid-template-columns:minmax(250px,280px) 1fr;
    gap: 40px;
}
.catalog-layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}
.product-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    margin-top: 75px;
}


/* مسیر سایت  */
.breadcrumb-list{
    display: flex;
    list-style: none;
    gap: 16px;
}
.breadcrumb-item{
    text-decoration: none;
    color:#C0C0C0;
}
.breadcrumb-item--active{
    color: #000;
}
/* ساید بار فیلتر ها */
.filters {
  height: fit-content;
  max-width: 288px;
  border: 1px solid #CBCBCB;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  top: 20px;
}
.filters-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.filters-icon{
    display: none;
}
.filters-sort-title{
    display: none;
}
.filters-sort-icon{
    display: none;
}
.filters-title{
    font-size: 14px;
    font-weight: 400;
}
.filters-clear{
    border: none;
    background-color: #FFF;
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    font-family: 'vazirmatn';
}
.filters-toggle{
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 112px;
    margin-top: 20px;
}
.filters-toggle-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.filters-toggle-item span{
    font-size: 14px;
    font-weight: 400;
}

/* سوییچ */
.switch{
    position: relative;
    width: 42px;
    height: 22px;
}
.switch input {
    display: none;
}

/*  اسلایدر*/
.slider{
    position: absolute;
    inset: 0;
    background-color: #CBCBCB;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.slider::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    right: 20px;
    top: 2px;
    background: #FFF;
    border-radius: 50%;
    transition: 0.3s;
}
.switch input:checked + .slider {
    background: #032340;
}
.switch input:checked + .slider::before{
    transform: translateX(17px);
}
.filters--item{
    margin: 22px 0px;
    cursor: pointer;
}
.filters--summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.filters--values{
    display: flex;
    flex-direction: column;
}
.filters--value{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 3, 6, 1);
    padding: 12px;
}
.filters--value input{
    text-align: right;
    font-family: 'vazirmatn';
    border-radius: 6px;
    padding: 3px 14px;
    border:none;
    background-color: rgba(237, 237, 237, 1);
    font-size: 10px;
    font-weight: 400;
    outline: none;
}
.filters--value-smidgen{
    margin-right: 6px;
}
.color-filters{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.filters--circle{
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 14px 0;
}
.filters--size{
    display: grid;
    grid-template-columns:minmax(30px,80px) 1fr 1fr;
    padding: 12px 0;
    text-align: center;
    gap: 8px;
}
.filters--size span{
    background: rgba(237, 237, 237, 1);
    border-radius: 4px;

}
.filters--search{
    display: flex;
    background: rgba(237, 237, 237, 1);
    border-radius: 16px;
    padding:5px 10px;
    max-width: 280px;
    gap: 5px;
}
.filters--search input{
    text-align: right;
    outline: none;
    border:none;
    background: transparent;
    font-family: 'vazirmatn';
}
.size--item{
    font-size: 10px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}
/* منوی مرتب سازی */
.sorting-menu{
    display: flex;
    justify-content: right;
}
.sorting-list{
    display: flex;
    text-align: center;
    list-style: none;
    gap: 35px;
}
.sorting-item{
    text-decoration: none;
    color: #000;
}
.sorting-item--active{
    color: rgba(250, 84, 28, 1);
    text-decoration: none;
    border-bottom: 2px solid rgba(250,84,28,1);
}
.product-count{
    font-size: 14px;
    text-align: left;
    margin: 0 5px;
    color: rgba(173, 173, 173, 1);
}

/*  گرید محصولات*/
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 24px;
}

/* کارت محصولات */
.product-card{
    position: relative;
    min-height: 430px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(249, 249, 249, 1);
    cursor: pointer;
}
.product-images{
    position: relative;
}
.main-image{
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.image-size{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.product-info{
    display: flex;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 1);
    padding: 8px;
    gap:16px;
    width: 100%;
}
.product-gallery{
    display: flex;
    gap: 8px;
}
.product-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star{
    width: 151px;
    height: 16px;
    object-fit: cover;
}
.product-name{
    font-size: 16px;
    font-weight: 400;
}
.product-sizes{
    font-size: 12px;
    font-weight: 400;
    color: rgba(1, 7, 13, 1);
}
.product-prices{
    display: flex;
    align-items: center;
    gap: 12px;
}
.product-price{
    font-size: 14px;
    font-weight: 400;
    color: rgba(1, 7, 13, 1);
}
.product-price-old{
    color: rgba(134, 134, 134, 1);
    text-decoration: line-through;
    font-feature-settings: "ss01";
}
.product-info--large-gap{
    gap: 12px;
}
.icon{
    position: absolute;
    top: 0;
    right: 0;
}
/* دایرهای رنگی */
.color-circle{
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.color1{
    position: absolute;
    z-index: 3;
}
.color2{
    position: absolute;
    z-index: 2;
    right: 19px;
}
.color3{
    position: absolute;
    right: 30px;
    z-index: 1;
}
.theme-blue{
    background-color: rgba(51, 75, 79, 1);
}
.theme-green{
    background-color:rgba(81, 85, 73, 1) ;
}
.theme-red{
    background-color: rgba(240, 0, 0, 1);
}
.theme-slategrey{
    background-color: rgba(115, 121, 137, 1);
}
.theme-seagreen{
    background-color: rgba(113, 108, 89, 1);
}
.theme-pink{
    background-color:rgba(254, 154, 160, 1) ;
}
.theme-darkred{
    background-color: rgba(146, 82, 83, 1);
}
.theme-white{
    background-color: rgba(242, 242, 242, 1);
}
.theme-olive{
    background-color:rgba(185, 194, 143, 1) ;
}
.theme-lightpink{
    background-color: rgba(231, 203, 221, 1);
}
.theme-midnightblue{
    background-color:rgba(3, 35, 64, 1) ;
}
.theme-black{
    background-color: rgba(48, 48, 50, 1);
}
.theme-aqua{
    background-color:rgba(104, 209, 182, 1) ;
}
.theme-tomato{
    background-color:rgba(229, 57, 53, 1);
}
.theme-purple{
    background-color:rgba(115, 60, 94, 1);
}
.theme-darkslategray{
    background-color: rgba(58, 81, 82, 1);
}
.theme-dimgray{
    background-color:rgba(139, 119, 103, 1) ;
}
.theme-crimson{
    background-color:rgba(148, 79, 82, 1);
}
.theme-maroon{
    background-color: rgba(125, 8, 30, 1);
}
.theme-cadetblue{
    background-color: rgba(127, 152, 147, 1);
}
.theme-plum{
    background-color:rgba(173, 150, 198, 1);
}
.theme-chocolate{
    background-color: rgba(241, 88, 39, 1);
}
.theme-orangered{
    background-color:rgba(250, 84, 28, 1) ;
}
.theme-cornflowerblue{
    background-color: rgba(64, 60, 251, 1);
}
.theme-deeppink{
    background-color: rgba(255, 32, 139, 1);
}
.theme-yellow{
    background-color: rgba(251, 244, 60, 1);
}
.theme-lawngreen{
    background-color: rgba(63, 204, 136, 1);
}
/* صفحه بندی محصولات*/
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-top: 40px;
}
.pagination-numbers{
    display: flex;
    list-style: none;
    gap: 34px;
}
.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-feature-settings: "ss01";

}
.page-number--active{
    border-radius: 8px;
    background-color: rgba(1, 10, 19, 1);
    color: #fff;
}
.pagination-arrow{
    border: 0px;
    border-radius: 8px;
    padding:4px;
    cursor: pointer;
    background: transparent;
}
.pagination-arrow-right{
    background-color: rgba(237, 237, 237, 1);
    border-radius: 12px;
    padding:11px;
}
.pagination-arrow-left{
    background-color: rgba(237, 237, 237, 1);
    border-radius: 12px;
    padding:11px;
}
/* فوتر*/
.site-footer{
   width: 100%;
   max-width:1440px; 
   margin: 0 auto;
   background-color:rgba(2, 21, 38, 1) ;
   color: #FFF;
}
.site-footer--container{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    width: 92%;
    margin: 0 auto;
    gap: 90px;
    padding: 24px 0;
}
/* ستون های لینک */
.site-footer--top{
    display: flex;
    gap: 40px;
}
.site-footer--column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 270px;
    gap: 16px;
}
.site-footer--title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    list-style: none;
    cursor: default;

}
.site-footer--list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 15px;
}
.site-footer--item{
    font-size: 14px;
    font-weight: 400;
}
.site-footer--link{
    text-decoration: none;
    color:rgba(203, 203, 203, 1);
}
.site-footer--highlight span{
    color: rgba(250, 84, 28, 1);
}

/* شبکه های اجتماعی */
.site-footer--side{
    display:flex;
    flex-direction: column;
    gap: 24px;
    max-width: 330px;
}
.site-footer--social{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.site-footer--text{
    font-size: 14px;
    font-weight: 400;
}
.site-footer--icons{
    display: flex;
    gap: 32px;
}
.site-footer--icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

/* فرم خبرنامه */
.site-footer--newsletter{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.site-footer--newsletter-title{
    font-size: 14px;
    font-weight: 700;
}
.site-footer--form{
    max-width: 330px;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgba(134, 134, 134, 1);
    align-items: center;
}
.site-footer--sms{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.site-footer--input{
    flex: 1;
    padding: 8px;
    background: transparent;
    border: none;
    color:rgba(134, 134, 134, 1);
    font-family: 'vazirmatn';
    outline: none;
}
.site-footer--button{
    border: none;
    padding: 2px 13px;
    border-radius: 4px;
    margin-left: 5px;
    background-color: rgba(250, 84, 28, 1);
    color: #FFF;
    font-family: 'vazirmatn';
    cursor: pointer;
}

/* متن درباره فروشگاه*/
.site-footer--middle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 650px;
    gap: 16px;
}
.site-footer--about{
    font-size: 12px;
    font-weight: 400;
}
.site-footer--about-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}
/* نماد های  اعتماد*/
.site-footer--symbols{
    display: flex;
    flex-direction: column;
    max-width: 251px;
    gap: 16px;
    align-items: center;
}
.site-footer--images{
    display: flex;
    gap: 20px;
}
.site-footer--guarantee{
    font-size: 12px;
    font-weight: 400;
}
/* خط جدا کننده*/
.site-footer--divider{
    display: block;
    max-width: 1440px;
    height: 1px;
    background-color: rgba(203, 203, 203, 1);
}
/* کپی رایت */
.site-footer--bottom{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    width: 92%;
    margin: 0 auto;
    padding: 12px 0px;
}
.site-footer--copyright{
    font-size: 10px;
    font-weight: 400;
}
.site-footer--designer{
    font-size: 10px;
    font-weight: 400;
}